accelerate==0.27.2
aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
astroid==3.1.0
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
autopep8==2.0.4
black==24.2.0
blinker==1.7.0
boto3==1.34.51
botocore==1.34.51
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
datasets==2.17.1
decorator==5.1.1
dill==0.3.8
distro==1.9.0
fastapi==0.109.2
filelock==3.13.1
Flask==3.0.2
flask-sock==0.7.0
frozenlist==1.4.1
fsspec==2023.10.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.20.3
idna==3.6
inquirerpy==0.3.4
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.42.0
MarkupSafe==2.1.5
mccabe==0.7.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
networkx==3.2.1
numba==0.59.0
numpy==1.26.4
openai==1.12.0
packaging==23.2
pandas==2.2.0
pathspec==0.12.1
pfzy==0.3.4
platformdirs==4.2.0
pooch==1.8.1
prompt-toolkit==3.0.43
psutil==5.9.8
pyarrow==15.0.0
pyarrow-hotfix==0.6
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydub==0.25.1
PyJWT==2.8.0
pylint==3.1.0
pyngrok==7.1.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
redis==5.0.2
regex==2023.12.25
requests==2.31.0
s3transfer==0.10.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soxr==0.3.7
srt==3.5.3
starlette==0.36.3
sympy==1.12
threadpoolctl==3.3.0
tokenizers==0.15.2
tomlkit==0.12.3
torch==2.2.1
tqdm==4.66.2
transformers @ git+https://github.com/huggingface/transformers.git@2cc8cf6ce7ae0416561acbb639df4bbc5f409b6f
twilio==8.13.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3
uvicorn==0.27.1
uvloop==0.19.0
vosk==0.3.44
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.1
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
